# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# IDE/editor files
.vscode/
.idea/
