{
  "type": "record",
  "name": "{{ record_name }}",
  "fields": [
    {% for field in fields %}
    {
      "name": "{{ field.name }}",
      "type": "{{ field.type }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
